{% extends 'base.html' %}

{% block content %}

<section style="background-color: #d1d5db;">
  <section class="wd-e">
    <div>
      <h2 style="text-align: center;">Add Student</h2>
    </div>
    <div class="first-section">
      <div>
        <div>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3" id="add">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input type="text" class="form-control" id="exampleInputName" name="username">
              <div id="userName" class="form-text"></div>
            </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="useremail">
            <div id="emailHelp" class="form-text"></div>
          </div>
          
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Address</label>
              <input type="text" class="form-control" id="exampleInputaddress" name="useraddress">
              <div id="useraddress" class="form-text"></div>
          </div>
  
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Bio</label>
              <input type="text" class="form-control" id="exampleInputbio" name="userbio">
              <div id="userbio" class="form-text"></div>
            </div>
  
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Degree</label>
              <input type="text" class="form-control" id="exampleInputdegree" name="userdegree">
              <div id="userdegree" class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Post</label>
              <input  name="post" type="file" class="form-control" id="exampleInputpost">
              <div class="form-text"></div>
            </div>
            <input type="submit" class="btn btn-primary">
            <a class="btn btn-primary" href="#add">New</a>
            
          </form>
        </div>
      </div>
    </div>

    <div class="first-section">

      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>BIO</th>
          <th>Degree</th>
          <th>Post</th>
          <th>Action</th>
        </tr>
      
          
        {% for i in output %}

        {% if output %}

        
         <tr>
          <td>{{i.id}}</td>
          <td>{{i.name}}</td>
          <td>{{i.email}}</td>
          <td>{{i.address}}</td>
          <td>{{i.bio}}</td>
          <td>{{i.degree}}</td>
          <td><img src="/media/{{i.dp}}" ></td>
          <td>
            <a href="{% url 'updatedata' i.id %}" class="btn btn-primary btn-sm"><span class="material-symbols-outlined">
              edit
              </span>
            </a>
            <form action="{% url 'delete' i.id %}" method="post" class="d-inline">
                {% csrf_token %}
                 <input class="btn btn-primary btn-sm" type="submit" value="delete" >
            </form>
          </td>
        </tr>   
        {% else %}
          <td>No data found</td>
             
             
         {% endif %}
          
         
        
        
        {% endfor %}  
         
         
        </table>
  
      </div>  
     </section>
</section>

  


{% endblock content %}







   



